name: Unit tests

on:
  push:
    branches:
      - master
      - next
  pull_request:
    branches:
      - master
      - next

jobs:
  test-node:
    name: Test on Node.js v${{ matrix.node-version }} and Jest v${{ matrix.jest-version }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [23.x, 22.x, 21.x, 20.x]
        jest-version: [30.0.0-alpha.3]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - name: install with jest v${{ matrix.jest-version }}
        run: |
          yarn add --dev jest@${{ matrix.jest-version }} babel-jest@${{ matrix.jest-version }}
          yarn
      - name: run tests
        run: NODE_OPTIONS="$NODE_OPTIONS --experimental-vm-modules" yarn test
  test-os:
    name: Test on ${{ matrix.os }} using Node.js LTS
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: lts/*
          cache: yarn
      - name: install
        run: yarn
      - name: run tests
        run: NODE_OPTIONS="$NODE_OPTIONS --experimental-vm-modules" yarn test
